## Tableau Homework - Merged CSV

In [47]:
# Import dependencies
import pandas as pd

In [52]:
# Create dataframes for each file 
csv1 = "/Users/ashleypatricia/Desktop/Data Analytics Course/Tableau Homework/JC-202001-citibike-tripdata.csv"
csv1_df = pd.read_csv(csv1)
csv1_df['period']= 1

csv2 = "/Users/ashleypatricia/Desktop/Data Analytics Course/Tableau Homework/JC-202002-citibike-tripdata.csv"
csv2_df = pd.read_csv(csv2)
csv2_df['period']= 2

csv3 = "/Users/ashleypatricia/Desktop/Data Analytics Course/Tableau Homework/JC-202003-citibike-tripdata.csv"
csv3_df = pd.read_csv(csv3)
csv3_df['period']= 3

csv4 = "/Users/ashleypatricia/Desktop/Data Analytics Course/Tableau Homework/JC-202004-citibike-tripdata.csv"
csv4_df = pd.read_csv(csv4)
csv4_df['period']= 4

csv5 = "/Users/ashleypatricia/Desktop/Data Analytics Course/Tableau Homework/JC-202005-citibike-tripdata.csv"
csv5_df = pd.read_csv(csv5)
csv5_df['period']= 5

csv6 = "/Users/ashleypatricia/Desktop/Data Analytics Course/Tableau Homework/JC-202006-citibike-tripdata.csv"
csv6_df = pd.read_csv(csv6)
csv6_df['period']= 6

csv7 = "/Users/ashleypatricia/Desktop/Data Analytics Course/Tableau Homework/JC-202007-citibike-tripdata.csv"
csv7_df = pd.read_csv(csv7)
csv7_df['period']= 7

csv8 = "/Users/ashleypatricia/Desktop/Data Analytics Course/Tableau Homework/JC-202008-citibike-tripdata.csv"
csv8_df = pd.read_csv(csv8)
csv8_df['period']= 8

csv9 = "/Users/ashleypatricia/Desktop/Data Analytics Course/Tableau Homework/JC-202009-citibike-tripdata.csv"
csv9_df = pd.read_csv(csv9)
csv9_df['period']= 9

csv10 = "/Users/ashleypatricia/Desktop/Data Analytics Course/Tableau Homework/JC-202010-citibike-tripdata.csv"
csv10_df = pd.read_csv(csv10)
csv10_df['period']= 10

csv11 = "/Users/ashleypatricia/Desktop/Data Analytics Course/Tableau Homework/JC-202011-citibike-tripdata.csv"
csv11_df = pd.read_csv(csv11)
csv11_df['period']= 11

csv12 = "/Users/ashleypatricia/Desktop/Data Analytics Course/Tableau Homework/JC-202012-citibike-tripdata.csv"
csv12_df = pd.read_csv(csv10)
csv12_df['period']= 12

In [53]:
# Check number of rows 
print(csv1_df.index)
print(csv2_df.index)
print(csv3_df.index)
print(csv4_df.index)
print(csv5_df.index)
print(csv6_df.index)
print(csv7_df.index)
print(csv8_df.index)
print(csv9_df.index)
print(csv10_df.index)
print(csv11_df.index)
print(csv12_df.index)

# Check how many rows are expected when added together
numofrows = 26020 + 22962 + 17719 + 9268 + 25077 + 36921 + 38680 + 43267 + 53833 + 30086 + 21275 + 30086
numofrows

RangeIndex(start=0, stop=26020, step=1)
RangeIndex(start=0, stop=22962, step=1)
RangeIndex(start=0, stop=17719, step=1)
RangeIndex(start=0, stop=9268, step=1)
RangeIndex(start=0, stop=25077, step=1)
RangeIndex(start=0, stop=36921, step=1)
RangeIndex(start=0, stop=38680, step=1)
RangeIndex(start=0, stop=43267, step=1)
RangeIndex(start=0, stop=53833, step=1)
RangeIndex(start=0, stop=30086, step=1)
RangeIndex(start=0, stop=21275, step=1)
RangeIndex(start=0, stop=30086, step=1)

355194

In [54]:
# Merge dataframes 

final_df = pd.concat([csv1_df, csv2_df, csv3_df, csv4_df, csv5_df, csv6_df, csv7_df, csv8_df, csv9_df, csv10_df, csv11_df, csv12_df])
final_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,period
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2,1
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2,1
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0,1
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30081,1054,2020-10-31 23:32:22.8650,2020-10-31 23:49:57.5320,3198,Heights Elevator,40.748716,-74.040443,3678,Fairmount Ave,40.725726,-74.071959,17231,Customer,1969,0,12
30082,156,2020-10-31 23:33:22.7310,2020-10-31 23:35:59.4930,3185,City Hall,40.717733,-74.043845,3681,Grand St,40.715178,-74.037683,46532,Subscriber,1981,1,12
30083,1858,2020-10-31 23:37:01.7010,2020-11-01 00:07:59.7530,3278,Monmouth and 6th,40.725685,-74.048790,3278,Monmouth and 6th,40.725685,-74.048790,42230,Subscriber,1998,1,12
30084,1809,2020-10-31 23:37:46.1430,2020-11-01 00:07:55.2740,3278,Monmouth and 6th,40.725685,-74.048790,3278,Monmouth and 6th,40.725685,-74.048790,45341,Subscriber,1999,1,12
30085,395,2020-10-31 23:40:06.3530,2020-10-31 23:46:42.0640,3481,York St,40.716490,-74.041050,3273,Manila & 1st,40.721651,-74.042884,45647,Subscriber,1967,1,12

In [55]:
# Export index 

final_df.to_csv('final bike data.csv')